{% set form = hookable_metadata.context.form %}

<div class="tab-pane {% if hookable_metadata.configuration.active|default(false) %}show active{% endif %}" id="slide-options" role="tabpanel" tabindex="0" {{ stimulus_controller('vanssa-slide-preview') }}>
    <div class="card mb-3">
        <div class="card-header">
            <h2 class="card-title">{{ 'sylius.ui.options'|trans }}</h2>
        </div>
        <div class="card-body">
            <div class="accordion" id="slide-options-accordion">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#slide-options-responsive">
                            <i class="bi bi-laptop me-1"></i> Responsive
                        </button>
                    </h3>
                    <div id="slide-options-responsive" class="accordion-collapse collapse show" data-bs-parent="#slide-options-accordion">
                        <div class="accordion-body">
                            {% include '@VanssaSyliusSliderPlugin/admin/slide/form/sections/_responsive_settings.html.twig' with {
                                responsive_form: form.settings.responsive,
                                responsive_id: 'slide-options-responsive-settings'
                            } %}

                            <div class="row mt-3">
                                <div class="col-12">{% include '@VanssaSyliusSliderPlugin/admin/shared/form/slide_preview.html.twig' %}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#slide-options-linking">
                            {{ 'sylius.ui.link'|trans }}
                        </button>
                    </h3>
                    <div id="slide-options-linking" class="accordion-collapse collapse" data-bs-parent="#slide-options-accordion">
                        <div class="accordion-body row">
                            <div class="col-12 col-md-6">{{ form_row(form.productCode) }}</div>
                            <div class="col-12 col-md-6">{{ form_row(form.buttonLabel) }}</div>
                            <div class="col-12">{{ form_row(form.url) }}</div>
                            <div class="col-12 col-md-4">{{ form_row(form.settings.linking.type) }}</div>
                            <div class="col-12 col-md-4">{{ form_row(form.settings.linking.buttonAppearance) }}</div>
                            <div class="col-12 col-md-4">{{ form_row(form.settings.linking.buttonSize) }}</div>
                            <div class="col-12 col-md-4">{{ form_row(form.settings.linking.overlay) }}</div>
                            <div class="col-12 col-md-4">{{ form_row(form.settings.linking.openExternal) }}</div>
                            <div class="col-12 col-md-4">{{ form_row(form.settings.linking.showProductFocusImage) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
