{% set form = hookable_metadata.context.form %}
<div class="col-12">
    <div class="card card-body" data-controller="slider-settings">
        {% set yellowSwatches = ['rgba(250, 204, 21, 1)', 'rgba(250, 204, 21, 0.75)', 'rgba(250, 204, 21, 0.45)', 'rgba(255, 255, 255, 1)', 'rgba(17, 24, 39, 0.85)'] %}
        <div class="row mb-3">
            <div class="col-12 col-md-6">{{ form_row(form.settings.enabled) }}</div>
            <div class="col-12 col-md-6">{{ form_row(form.settings.channelCodes) }}</div>
            <div class="col-12">{{ form_row(form.settings.cssClasses) }}</div>
        </div>
        <div data-translation-settings-fields>
        <div class="row">
            <div class="col-12 col-md-4">{{ form_row(form.settings.containerWidth) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.slideEffect) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.speed) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.overlay) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.showTitle) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.marginTop) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.marginRight) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.marginBottom) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.marginLeft) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.paddingTop) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.paddingRight) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.paddingBottom) }}</div>
            <div class="col-12 col-md-3">{{ form_row(form.settings.paddingLeft) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.justifySlideHeight) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.rewind) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.pauseOnHover) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.showNavigation) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.showArrows) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.navigationIcon) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.navigationSize) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.navigationShadow) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.paginationShape) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.paginationSize) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.paginationShadow) }}</div>
            <div class="col-12 col-md-6">{% include '@VanssaSyliusSliderPlugin/admin/shared/form/rgba_color_field.html.twig' with { field: form.settings.navigationColor, swatches: yellowSwatches } only %}</div>
            <div class="col-12 col-md-6">{% include '@VanssaSyliusSliderPlugin/admin/shared/form/rgba_color_field.html.twig' with { field: form.settings.navigationBackgroundColor, swatches: yellowSwatches } only %}</div>
            <div class="col-12 col-md-6">{% include '@VanssaSyliusSliderPlugin/admin/shared/form/rgba_color_field.html.twig' with { field: form.settings.paginationColor, swatches: yellowSwatches } only %}</div>
            <div class="col-12 col-md-6">{% include '@VanssaSyliusSliderPlugin/admin/shared/form/rgba_color_field.html.twig' with { field: form.settings.paginationActiveColor, swatches: yellowSwatches } only %}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.autoplay.enabled) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.autoplay.interval) }}</div>
            <div class="col-12 col-md-4">{{ form_row(form.settings.autoplay.pauseOnHover) }}</div>
        </div>
        </div>
    </div>
</div>
